* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-decoration: none;
	background-color: #F9F9ED;
}
.link {
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0);
}
.flex-header {
	height: 8vh;
	display: flex;
	width: 80%;
	margin: 3vh auto 3vh auto;
	border-top: 5px solid #2C666E;
	border-bottom: 5px solid #2C666E;
	justify-content: space-around;
	align-items: center;
}
.title {
	color: #07393C;
}

ul li {
	color: #07393C;
	display: inline-block;
	margin: 0 10px;
}
.flex {
	display: flex;
	margin:0 auto;
	width: 80%;
	height: 100%;
	justify-content: space-around;
	flex-wrap: wrap;
}
.box {
	height: 350px;
    border: 5px solid #07393C;
    padding: 20px;
    border-radius: 10%;
    margin-bottom: 5vh;
}
.disc-title {
	font-size: 16px;
	line-height: 40px;
}
.disc-artist {
	font-size: 10px;
}
.b1 {
	width: 250px;
	height: 250px;
	background-image: url(jacket_image/kinoko1.webp);
	background-size: cover;
	border-radius: 10%;
	position: relative;
}
.b2 {
	width: 250px;
	height: 250px;
	background-image: url(jacket_image/nulba2.jpg);
	background-size: cover;
	border-radius: 10%;
	position: relative;
}
.b3 {
	width: 250px;
	height: 250px;
	background-image: url(jacket_image/raven1.webp);
	background-size: cover;
	border-radius: 10%;
	position: relative;
}
.b4 {
	width: 250px;
	height: 250px;
	background-image: url(jacket_image/woz1.jpg);
	background-size: cover;
	background-position: right;
	border-radius: 10%;
	position: relative;
}
